
@{
    ViewBag.Title = "stepForRegesterion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    hr {
        overflow: visible;
        height: 30px;
        border-style: solid;
        border-color: black;
        border-width: 1px 0 0 0;
        border-radius: 20px;
    }
</style>

<h2 style="text-align:center">خطوات التسجيل في مركز سنابل طيبة</h2>
<table style="width:100%;">
    <tr>
        <td><h1>1-</h1></td>
        <td><h2>قومي بتعبئة البيانات بالصفحة التاليه ثم اضغطي.....<b>طباعة</b> </h2></td>

    </tr>
    <tr>
        <td><h1>2-</h1></td>
        <td><h2>اختاري <b>حفظ</b> ثم قومي بطباعة الصفحات الموجودة بالصفحة التالية</h2></td>
    </tr>
    <tr>
        <td><h1>3-</h1></td>
        <td><h2>قومي بتعبئة الصفحات التي قمتي بطباعتها مع ختم الكشف الطبي من الطبيب </h2></td>
    </tr>
    <tr>
        <td><h1>4-</h1></td>
        <td><h2>تواصلي مع المركز للتأكد من وجود مقاعد كافية</h2></td>
    </tr>
    <tr>
        <td><h1>5-</h1></td>
        <td><h2>قومي بسداد الرسوم للحساب البنكي:272608010898977<br /><br /><b>ملاحظة هامة :</b>يجب الاحتفاظ بالايصال وتقديمة مع الأوراق اللازمة للتسجيل </h2></td>
    </tr>
  
</table>
<h3>  @Html.ActionLink("الانتقال لصفحة التسجيل", "Nomination")</h3>
