
@{
    ViewBag.Title = "DeleteImages";
}
<h2 style="text-align:center">حذف صورة من الشريط الاعلاني في الصفحة الرئيسية</h2>
@using (Html.BeginForm("DeleteImages", "Home", FormMethod.Post))
{
    <table style="background-color:azure" border="1">
        <thead style="background-color:gray">
            <tr>
                <th style="text-align:center">اختر الصور التي تريد حذفها</th>
                <th style="text-align:center">الصور</th>
            </tr>
        </thead>
        <tbody>
            @Html.EditorForModel()
        </tbody>
    </table>
    <input type="submit" value="احذف الصور التي تم اختيارها" />
}
<p>@Html.ActionLink("العودة للصفحة السابقة", "Index", "Home")</p>



